.cart-product__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.cart-product__price {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

.cart-product__product-counter {
  font-size: 16px;
  line-height: 16px;
}
