.header-menu__list {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 15px;
}

.header-menu__button {
  background-color: transparent;
  border: none;

  &--cart {
    width: 24px;
    height: 24px;
    background-color: #7bb899;
    border-radius: 50%;
  }
}

.header-menu__list-item {
  &--cart {
    margin: 0 17px 0 0;
  }
}

.header-menu__button-text {
  font-weight: 500;
}

@media (max-width: $max-mobile-width) {
  .header-menu__list-item:not(:last-child) {
    display: none;
  }

  .header-menu__list-item {
    &--cart {
      margin: 0;
    }
  }

  .header-menu__list-item--cart {
    position: relative;
    right: -6px;
  }
}
