.header__header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  padding: 0 64px;
}

.header__phone {
  color: $main-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.header__phone-text {
  margin: 0;
  opacity: 0.3;
}
