.page {
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.page__body {
  min-height: 100%;
  width: 1920px;
  margin: 0 auto;
  font-family: "inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  // max-width: 1920px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  // overflow-x: hidden;
}
@media screen and (max-width: 1280px) {
  .page__body {
    padding: 0 20px; /* Добавьте отступы для меньших экранов */
  }
}
