.sort__sort-wrapper {
  padding: 0 0 0 64px;
  min-width: 367px;
}

.sort__sort-list {
  display: flex;
  align-items: flex-start;
  // justify-content: center;
  flex-flow: wrap column;
  padding: 0;
  list-style-type: none;
  width: 170px;
  gap: 10px;
}

.sort__sort-list-item {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 12px;
}

.sort__button-text {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.sort__sort-touch-button {
  display: none;
}

@media (max-width: $max-mobile-width) {
  .sort__sort-list {
    display: flex;
    // align-items: flex-start;
    opacity: 1;
    position: fixed;
    z-index: 3;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    top: 160px;
    border-radius: 24px 24px 0 0;
    padding: 54px 186px 20px 24px;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 4px;
      background-color: #00000060;
      border-radius: 40px;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
    }
  }

  .sort__sort-wrapper {
    padding: 0;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000070;
    z-index: 2;

    &--hidden {
      display: none;
    }
  }
}
