.swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/hero@1x.jpg');
}

.swiper-wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transform: translateX(8px);
  height: 560px;
}

.swiper__slide-header {
  font-size: 72px;
  line-height: 63px;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin: 0 0 25px;
}

.swiper__slide-content {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 472px;
  margin: 0 auto;
}

@media (max-width: $max-mobile-width) {
  .swiper {
    display: none;
  }
}
.swiper {
  width: 1920px;
  height: 560px;
}
.swiper-slide {
  width: 100%;
}

// .swiper-pagination .swiper-pagination-bullet  {
//   background-color: tomato;
// }
